@if(assignmentTransmis) {
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        {{ assignmentTransmis.nom }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ assignmentTransmis.dateDeRendu | date : "MM/dd/YYYY" }}
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions id="bottom">
      @if(!assignmentTransmis.rendu) {
        <mat-checkbox (click)="onCheckboxCliqued()">Rendu</mat-checkbox>
      }
      <button mat-raised-button color="warn" (click)="onDeleteAssignment()">
        <mat-icon>delete</mat-icon>
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
}
