
<h2>Ajout d'un Devoir</h2>
<form ngForm (submit)="onSubmit($event); assignmentForm.reset();"
      #assignmentForm class="form">
  <mat-form-field>
    <input matInput placeholder="Nom"
           [(ngModel)]="nomDevoir" name="nom">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choisir date de rendu</mat-label>
    <input matInput [matDatepicker]="picker"
           [(ngModel)]="dateDeRendu" name="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <button [disabled]="!nomDevoir||!dateDeRendu" mat-stroked-button color="primary">
    Ajouter un devoir
  </button>
</form>

<h2>Liste des devoirs :</h2>

<mat-list>
  <mat-divider></mat-divider>
  @for (a of assignments; track a.nom) {
    <mat-list-item (click)="assignmentClique(a)">
      <h3 matListItemTitle>{{a.dateDeRendu |date:'MM/dd/YYYY'}}</h3>
      @if(a.rendu) {
        <p matListItemLine appRendu>
          Le devoir {{ a.nom }}, a été rendu le : {{ a.rendu }}
        </p>
      } @else {
      <p matListItemLine appNonRendu>
        Le devoir {{ a.nom }} n'a pas été rendu à temps.
      </p>
    }
    </mat-list-item>
    <mat-divider></mat-divider>
  }
</mat-list>

<app-assignment-detail [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>

<!--
<h3>
  Avec la méthode Angular inférieure à version 17 (nécessite d'importer
  CommonModule)
</h3>
<div *ngFor="let a of assignments">
  <p *ngIf="a.rendu; else nonsoumis">
    Le devoir {{ a.nom }}, à rendre pour le {{ a.dateDeRendu }}, rendu :
    {{ a.rendu }}
  </p>
  <ng-template #nonsoumis> Devoir {{ a.nom }} PAS RENDU A TEMPS ! </ng-template>
</div>

<p>Autre exemple avec une liste UL/LI</p>
<ul>
  <li *ngFor="let a of assignments">
    Le devoir {{ a.nom }}, à rendre pour le {{ a.dateDeRendu }}, rendu :
    {{ a.rendu }}
  </li>
</ul>

<p>Autre exemple avec une table TR/TD</p>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date de rendu</th>
      <th>Rendu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of assignments">
      <td>{{ a.nom }}</td>
      <td>{{ a.dateDeRendu | date:'MM/dd/YYYY'}}</td>
      <td>{{ a.rendu }}</td>
    </tr>
  </tbody>
</table>

<h3>Avec la syntaxe d'Angular 17</h3>
@for(a of assignments; track a.nom; let index=$index; let count = $count) {
@if(a.rendu) {
<p appRendu>
  {{ index + 1 }}/{{ count }} - Le devoir {{ a.nom }}, à rendre pour le
  {{ a.dateDeRendu }}, rendu :
  {{ a.rendu }}
</p>
} @else {
<p appNonRendu>
  {{ index + 1 }}/{{ count }} - Devoir {{ a.nom }} PAS RENDU A TEMPS !
</p>
} }

<p>Avec listes</p>
<ul>
  @for(a of assignments; track a.nom) {
  <li [ngClass]="{ rendu: a.rendu, nonRendu: !a.rendu }">
    Le devoir {{ a.nom }}, à rendre pour le {{ a.dateDeRendu }}, rendu :
    {{ a.rendu }}
  </li>
  }
</ul>

<p>Avec tableau</p>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date de rendu</th>
      <th>Rendu</th>
    </tr>
  </thead>
  <tbody>
    @for(a of assignments; track a.nom) {
    <tr>
      <td>{{ a.nom }}</td>
      <td>{{ a.dateDeRendu }}</td>
      <td>{{ a.rendu }}</td>
    </tr>
    }
  </tbody>
</table>
-->
